name: Code Quality and Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  node_matrix:
    uses: appium/appium-workflows/.github/workflows/node-lts-matrix.yml@main

  lint-format-and-test:
    name: ESLint, Prettier, and Tests
    runs-on: ubuntu-latest
    needs:
    - node_matrix

    strategy:
      fail-fast: false
      matrix:
        node-version: ${{ fromJSON(needs.node_matrix.outputs.versions) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - uses: SocketDev/action@v1
        with:
          mode: firewall-free

      - name: Install dependencies
        run: sfw npm install

      - name: List installed packages
        run: npm list --depth=0

      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier check
        run: npm run format:check

      - run: npm run build
        name: Build

      - name: Run Locator Tests
        run: npm run test:locators
